/* HEADER */

.header {
    background-color: var(--color-bg-blue);
}

.header__wraper {
    max-width: var(--layout-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 24px;
}

.header__logo-text {
    font-weight: 900;
    font-size: 36px;
    line-height: 140%;
    text-transform: uppercase;
    color: var(--color-white-text)
}

.header_mobile-menu-button {
    display: none;
    background: none;
    border: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

@media (max-width: 930px) {

    .header__button {
        display: none;
    }

    .header_mobile-menu-button {
        display: block;
    }
}

/* MENU */

.menu {
    list-style: none;
    display: flex;
    gap: 32px;
    margin: 0;
}

.menu__item a {
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: var(--color-white-opacity-80);
}

.menu__item:hover a {
    color: var(--color-white-text);
}

@media (max-width: 930px) {

    .menu {
        display: none;
    }
}