* {
    box-sizing: border-box;
}

body {
    background:
        linear-gradient(225deg, #ffa5a5 33.09%, rgba(255, 255, 255, 0) 82.34%),
        linear-gradient(225deg, #fdc5c5 25.45%, rgba(242, 152, 222, 0) 100%),
        #f39494;
    margin: 8px;
    min-width: 320px;
}

main {
    background-color: #FFFEFE;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 100%;
    max-width: 582px;
    height: 573px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 600px) {
    body {
        margin: 0;
        padding: 8px;
    }

    main {
        height: auto;
        min-height: 573px;
    }
}

h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #333333;
    text-align: center;
    margin: 0;
}



p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #666666;
    text-align: center;
    margin-top: 0;
    margin-bottom: 47px;

}

button {
    background-color: #089FE0;
    height: 44px;
    border-radius: 5px;
    outline: none;
    border: none;
    position: relative;
    padding: 0 44px 0 44px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.btn-text {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    display: inline-block;
}

button img {
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
}

input {
    height: 44px;
    padding: 9px 0px 9px 11px;
}

#company {
    background-color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #333333;
    border: 1px solid #F5F5F5;
    border-radius: 5px;
}

#email {
    width: 100%;
}

.big-link {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    color: #089FE0;
    margin-left: 6px;
}

.small-link {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #089FE0;
}


.greyInput {
    border: 1px;
    background-color: #F5F5F5;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    color: #999999;
    border-radius: 5px;
}

.checkmark {
    height: 15px;
    width: 16px;
    background-color: #F5F5F5;
    border: 1px solid #eee;
    border-radius: 5px;
    margin: 0;
    margin-right: 4px;
}

.agreement {
    display: flex;
    align-items: center;
    padding: 1px 0 2px;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.agreement-text {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #666666;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
    flex-wrap: nowrap;
    white-space: nowrap;
    /* Запрещаем перенос текста */
}

.mainarea {
    padding: 72px 94px 91px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    min-width: 394px;
    margin: 0 auto;
    gap: 22px;
}

.name {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
}

.name input {
    flex-grow: 1;
    border-radius: 0;
}

.name input:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.name input:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}